{% extends 'members/base.html' %}
{% block title %}Confirm Delete{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Confirm Delete</h2>
            <p>Are you sure you want to delete "{{ object.first_name }} {{ object.last_name }}"?</p>
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-end">
                    <a href="{% url 'member-list' %}" class="btn btn-secondary me-2">Cancel</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
